#root {
  max-width: 375px;
  min-width: 325px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  box-sizing: border-box;
}

.App{
  position: relative;
  display: flex;
  flex-direction: column;
  /* outline: 2px red solid; */
  border-radius: 1.5rem 1.5rem 4rem 1.5rem;
  padding: 3rem 1rem;
  background-color: white;
  min-width: 210px;
  max-width: 210px;
  margin: 3rem auto;
}

.inputs{
  display: flex;
  /* outline: blue solid 1px ; */
}

label{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: .6rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: hsl(0, 1%, 44%);
}
.month{
  margin: auto;
}
.year{
  margin-left: 0;
}

.input{
  width: 3.4em;
  padding: .6em;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: .5em;
  margin: .3em auto;
  font-weight: 900;
  color: hsl(0, 0%, 8%);
}

.seperator{
  /* outline: 1px solid green; */
  display: flex;
  position: relative;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  height: 5em;
}

hr{
  border-top: 1px solid hsl(0, 0%, 94%);
  width: 100%;
}

.submit{
  position: absolute;
  display: block;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  width: 9%;
  padding: .9rem;
}


.output{
  /* outline: 1px solid rebeccapurple; */
  font-size: 2.4rem;
  font-style: italic;
  margin: 0;
  font-weight: 900;
}
p{
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
  color: hsl(0, 0%, 8%);
}
span{
  color: hsl(259, 100%, 65%);
}


.attribution{
  margin: 2rem;
}