#root {
  max-width: 375px;
  min-width: 325px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}
.body{
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.App{
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem 1.5rem 4rem 1.5rem;
  padding: 3rem 1rem;
  background-color: white;
  min-width: 210px;
  max-width: 210px;
  margin: 3rem auto;
  text-align: left;
}

.inputs{
  display: flex;
  /* outline: blue solid 1px ; */
}

label{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: .6rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: hsl(0, 1%, 44%);
}
.month{
  margin: auto;
}
.year{
  margin-left: 0;
}

.input{
  width: 3.4em;
  padding: .6em;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: .5em;
  margin: .3em auto;
  font-weight: 900;
  color: hsl(0, 0%, 8%);
}
.input:hover, .input:focus{
  border: 1px solid hsl(0, 1%, 44%);
  outline: none;
}
.error{
  color: hsl(0, 100%, 67%);
  display: none;
}

.seperator{
  display: flex;
  position: relative;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  height: 5em;
}

hr{
  border-top: 1px solid hsl(0, 0%, 94%);
  width: 100%;
}

.submit{
  position: absolute;
  display: block;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  width: 9%;
  padding: .9rem;
}
.submit:hover{
  background-color: hsl(0, 0%, 8%);
}


.output{
  /* outline: 1px solid rebeccapurple; */
  font-size: 2.4rem;
  font-style: italic;
  margin: 0;
  font-weight: 900;
}
p{
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
  color: hsl(0, 0%, 8%);
}
span{
  color: hsl(259, 100%, 65%);
}


.attribution{
  /* margin: 2rem; */
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Desktop Styling */

@media (min-width: 725px) {
  .body{
    min-height: 100vh;
  }
  .App{
    transform: scale(1.5);
  }
  .App{
    padding: 2rem 2rem;
    min-width: 350px;
    max-width: 350px;
  }

  .seperator{
    height: 5em;
  }
  .submit{
    right: 0;
    width: 9%;
  }
  .inputs, .output{
    margin-right: 35%;
  }

  label{
    font-size: .4rem;
  }
  .input{
    width: 3.5em;
  }

  .output{
    font-size: 3rem;
  }

  .attribution{
    margin: 3rem 0;
    font-size: 14px;
    width: 100%;
  }
}